<div class="body">
    <div class="container">
        <header class="chatbox-header">          
                <img class="profile-pic" src="assets/images/dp.jpg" alt="">
                <span class="name">User name</span><br>
                <h6 class="online">{{onlineStatus}}</h6>
                <mat-icon class="option">more_vert</mat-icon>
        </header>
        <div class="chatbox-body">

        </div>
        <div class="chatbox-footer">
            <input class="msg" type="text" placeholder="Type a message">
            <mat-icon class="send">send</mat-icon>
        </div>
    </div>
</div>

